.topContainer {
  width: 100vw;
  height: 100vh;
}

.overal {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 90vw;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
  max-width: 235px;
  margin-right: auto;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
  height: 100%;
  text-decoration: none;
  color: #1d1f22;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
}

.NavlinkWrapper {
  height: 100%;
}

.link:hover {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
  font-weight: 600;
}
.active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
  font-weight: 600;
}

.logo {
  width: 31px;
  height: 30px;
}

.currency-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.currency-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.currency-container:hover .currency {
  color: #5ece7b;
}

.currency-container:hover .arrow {
  filter: invert(74%) sepia(11%) saturate(1959%) hue-rotate(83deg)
    brightness(95%) contrast(85%);
}

.currency {
  margin-right: 10px;
  font-size: 18px;
  color: #1d1f22;
  cursor: pointer;
}

.arrow {
  width: 6px;
  height: 3px;
  color: #5ece7b;
}

.cart-container {
  position: relative;
}
.cart {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 22px;
  cursor: pointer;
  z-index: 2;
}

.cart:hover {
  filter: invert(74%) sepia(11%) saturate(1959%) hue-rotate(83deg)
    brightness(95%) contrast(85%);
}

.cart-items-counter {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: -9px;
  margin-left: 35px;
  min-width: 20px;
  min-height: 20px;
  background: #1d1f22;
  border-radius: 180px;
  z-index: 3;
}
